footer{
  width: 100%;
  height: 7rem;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content{
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.footer-content p{
  font-family: var(--font-secondary);
  color: #a7a7a7;
  font-size: 1.2rem;
}

.social-list a{
  margin: 2rem;
  color:#a7a7a7;
  font-size: 1.4rem;
 
}

.social-list ul{
  display: flex;
}

footer i:hover{
  color: #a044ff;
  transform: scale(1.4);
  border-radius: 50%;
}